<!-- Header layout -->
<nav class="header">
  <a class="header__nav-item" href="?page=login">
    <p>1</p>
    <span>&#8226;</span>
    <p>Login</p>
  </a>
  <span>&#8226;</span>

  <a class="header__nav-item" href="?page=register">
    <p>2</p>
    <span>&#8226;</span>
    <p>Register</p>
  </a>
  <span>&#8226;</span>

  <a class="header__nav-item" href="?page=forgot_password">
    <p>3</p>
    <span>&#8226;</span>
    <p>Forgot password</p>
  </a>
  <span>&#8226;</span>

  <a class="header__nav-item" href="?page=reset_password">
    <p>4</p>
    <span>&#8226;</span>
    <p>Reset password</p>
  </a>
  <span>&#8226;</span>

  <a class="header__nav-item" href="?page=verify_email">
    <p>5</p>
    <span>&#8226;</span>
    <p>Verify email</p>
  </a>
  <span>&#8226;</span>

  <a class="header__nav-item">
    <p>6</p>
    <span>&#8226;</span>
    <p>Success</p>
  </a>
</nav>
