/* Common Stylesheets */
@import url("https://googleapis.com");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family-base);
  background-color: var(--color-page-background);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: min(896px, calc(100% - 64px));
  min-height: 44em;
  margin: 32px auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 40px 48px;
  background-color: var(--color-surface);
  border-radius: 0px var(--radius-lg) var(--radius-lg) 0px;
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
}

label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

input {
  height: 42px;
  padding: 10px 14px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
}

input:focus,
.login__btn-submit:focus {
  border-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 426px) {
  .content {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    font-size: var(--font-size-xs);
  }
}
