<link rel="stylesheet" href="./components/otp-input/otp-input.css" />

<div class="otp-inputs">
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
  <input
    class="otp-field"
    type="text"
    name="otp"
    inputmode="numeric"
    pattern="\d{1}"
    maxlength="1"
    required
  />
</div>
